.Featuredmodels {
  margin-top: 50px;
}
.Tittle h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.images {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.images img {
  width: 40%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.247);
  position: relative;
}
.images img:hover {
  transform: translateX();
}
.Textimages {
  position: absolute;
  display: flex;
  gap: 120px;
  justify-content: space-between;
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.Textbmw {
  margin-top: -300px;
  margin-left: 130px;
}
.Textbmw p {
  margin-top: 10px;
}
.TextMclaren p {
  margin-top: 10px;
}
.Link {
  text-decoration: none;
  color: aliceblue;
  border-bottom: 1px solid white;
}
.TextMclaren {
  margin-top: -300px;
  margin-left: -40px;
}
