.Featuredmodels {
}
.Tittle h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.images {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.images img {
  width: 40%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.247);
}
.images img:hover {
  transform: translateX();
}
