.car-card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: 0.35s;
}

.car-card:hover {
  transform: translateY(-10px);
}

.car-card-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.car-card-content {
  padding: 22px;
}

.car-brand {
  color: rgb(74, 106, 177);
  font-weight: 600;
  font-size: 0.9rem;
}

.car-card h2 {
  margin: 10px 0;
}

.car-price {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.car-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #666;
}

.btn-details {
  display: inline-block;
  text-decoration: none;
  background: rgb(74, 106, 177);
  color: white;
  padding: 12px 18px;
  border-radius: 10px;
  transition: 0.3s;
}

.btn-details:hover {
  background: rgb(56, 88, 150);
}
